.container{
  display: flex;
  flex-direction: row;
}
.age{
  flex: 50%;
}
.ser{
  flex: 50%;
}
.btn {
  display: flex;
  flex-direction: row;
  width: 50px;
  margin-top: 10px;
  font-weight: 400;
  color: #80868b;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid black;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
#img{
  width: 75%;
  height: 50%;
  
}